@page "/configuration"

@inject NavigationManager navigationManager
@inject GameService gameService

<div class="@Styles.Container">
    <div class="w-full max-w-3xl flex flex-col">

        <div class="lg:my-3 xl:my-6 text-center">
            <span class="@Styles.Title">
                Configuration
            </span>
        </div>

        <div class="mt-6 w-full max-w-3xl">

            <div class="flex flex-col space-y-1">

                <span class="@Styles.SubTitle">
                    Your name
                </span>

                <input class="border rounded-sm w-full py-2 px-3 text-gray-700
                   focus:outline-none focus:shadow-outline w-full mt-1"
                       placeholder="Type your name"
                       @bind="model.Name" />
            </div>

        
        </div>

        <div class="flex-1 max-h-40">

        </div>

        <div class="mt-10 flex justify-between space-x-6">

            <PrimaryButton Text="Back" OnButtonClicked="GoBack">
                <svg viewBox="0 0 20 20" fill="currentColor" class="chevron-left w-6 h-6 mr-1"><path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
            </PrimaryButton>

            <PrimaryButton Text="Save" OnButtonClicked="Save">
                <svg viewBox="0 0 20 20" fill="currentColor" class="check-circle w-6 h-6 mr-1"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
            </PrimaryButton>

        </div>
    </div>
</div>

@code {
    private PlayerModel model = new PlayerModel();

    protected override async Task OnInitializedAsync()
    {
        model = await gameService.GetPlayer();
    }

    private async Task Save()
    {
        await gameService.SavePlayer(model);
        navigationManager.NavigateTo("/");
    }

    private void GoBack() => navigationManager.NavigateTo("/");

}
