
<div class="bg-gray-200 text-gray-600">

    <svg viewBox="0 0 64 32"
         class="w-20 h-20" xmlns="http://www.w3.org/2000/svg">
        <rect x="3" width="58" height="32" rx="13"
              fill="none" stroke="currentColor"
              stroke-width="5" />
    </svg>



    <svg xmlns="http://www.w3.org/2000/svg"
         class="w-20 h-20"
         viewBox="0 0 64 32"
         fill="none" stroke="currentColor"
         stroke-width="5"
         stroke-linecap="round" stroke-linejoin="round">
        <polygon points="5,32 32,20 59,32 32,42" />
    </svg>

    <svg xmlns="http://www.w3.org/2000/svg"
         class="w-20 h-20"
         viewBox="0 0 64 32"
         fill="none" stroke="currentColor"
         stroke-width="5"
         stroke-linecap="round" stroke-linejoin="round">
        <polygon points="10,30 10,30 10,30 59,32 32,42" />
    </svg>

</div>

@code {

}
