@using Set.Core

<button type="button" @onclick="@OnSelected" class="rounded-md shadow m-4 px-1 py-4 border-blue-800 flex align-middle justify-center hover:bg-gray-100 @active" 
        style="width:130px">
    @{
        string imagePath = $"{SetCard.Path}.png";
    }
    @foreach (var i in Enumerable.Range(0, SetCard.Number))
    {
        <img class="@imagePath" src="img/@imagePath" style="width:40px" />
    }

</button>

@code {
    private string imageWidth => SetCard.Number == 2 ? "mx-1" : "";

    private string active;
    private bool selected;
    public bool Selected
    {
        get => selected;
        set
        {
            selected = value;
            active = value ? "active" : "";
        }
    }

    void OnSelected()
    {
        Selected = !Selected;
        if (Selected)
            OnCardSelected.InvokeAsync(this);
        else OnCardDeSelected.InvokeAsync(this);
    }

    [Parameter]
    public EventCallback<Card> OnCardSelected { get; set; }

    [Parameter]
    public EventCallback<Card> OnCardDeSelected { get; set; }

    [Parameter]
    public ICard SetCard { get; set; }
}

