<div class="flex justify-center items-center">

    <MiniCard Card="Trio.First"></MiniCard>
    <MiniCard Card="Trio.Second"></MiniCard>
    <MiniCard Card="Trio.Third"></MiniCard>

</div>

@code {
    [Parameter]
    public Set.Core.CardTrio Trio { get; set; }

}
