@using Set.Core

<button type="button" @onclick="@OnSelected" class="rounded-md shadow border border-@Styles.BackgroundDarker 
        flex flex-col
        bg-white justify-self-center
        justify-center hover:bg-@backgroundColor
        outline-none focus:outline-none
        h-16 sm:h-20 md:h-28 lg:h-40 xl:h-48 @active">
    @foreach (var i in Enumerable.Range(0, SetCard.Number))
    {
        <img class="w-3 sm:h-5 md:h-8 lg:h-12 xl:h-14 transform rotate-90" src="img/@($"{SetCard.Path}.png")" />
    }

</button>

@code {
    private string backgroundColor = Styles.BackgroundDarker;

    private string imageWidth => SetCard.Number == 2 ? "mx-1" : "";

    private string active;
    private bool selected;
    public bool Selected
    {
        get => selected;
        set
        {
            selected = value;
            active = value ? $"shadow-outline {backgroundColor}" : "";
        }
    }

    void OnSelected()
    {
        Selected = !Selected;
        if (Selected)
            OnCardSelected.InvokeAsync(this);
        else OnCardDeSelected.InvokeAsync(this);
    }

    [Parameter]
    public EventCallback<Card> OnCardSelected { get; set; }

    [Parameter]
    public EventCallback<Card> OnCardDeSelected { get; set; }

    [Parameter]
    public ICard SetCard { get; set; }
}

