<div class="flex justify-between items-center bg-gray-100 border-b-2 border-gray-500">

    <div class="flex justify-center items-center mx-4">
        <span class="font-bold text-xl text-gray-900">@Position</span>
        <MiniTrio Trio="Row.Trio"></MiniTrio>
    </div>

    <div class="mx-4 text-xs md:text-base lg:text-base xl:text-lg">@Row.Text</div>

    <span class="text-xs font-mono mx-4 px-3 md:text-base border-black border-2 rounded text-white bg-gray-500">
        @Row.Time.ToString()
    </span>
</div>

@code {
    [Parameter]
    public int Position { get; set; }

    [Parameter]
    public Set.Core.DiscoveredSet Row { get; set; }
}
